@font-face {
    font-family: 'norse-bold';
    src: url('./assets/Norse-Bold.otf');
  }


.background {
    background-image: url('./assets/dylan-shaw-lfnsZ1Ylu3Y-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1300px;
    width: 800px;
}

.page-title {
    text-align: center;
    color: #DADEDF;
    font-family: 'norse-bold';
    font-size: 3rem;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0, 0.6);
    position: relative;
    top: 300px;
}

.image-credit {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 800px;
    color:#DADEDF;
}

.page {
    display: flex;
    flex-direction: row;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-title {
    display: flex;
    justify-content: left;
    margin-left: 50px;
}

.top-space {
    margin-top: 200px;
}

.submit-wrapper {
    border-top-style: inset;
}

.submit-button {
    background-color: #596D48;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 30px 0 0 50px;
    color: #DADEDF;
    font-size: 18px;
    font-weight: bold;
}

.log-in {
    margin: 30px 0 0 50px;
}

.log-in-text {
    color:#596D48;
    font-weight: bold;
}